*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: aqua; */
    color: white;
}

.main-wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    width: 60%;
    background-color: darkgreen;
    
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.items-wrapper{
    width: 100%;
    height: 100%;
}


.hide{
    display: none;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}

.btn.top{
    top: 3px;
}

.btn.down{
    bottom: 3px;
}

.item{
    display: none;
}

.item.active{
    display: block;
}
